* {
  box-sizing: border-box;
}

html, main, header, .hintergrund{
  background-color: antiquewhite;
}

nav {
  margin: 0 1rem 0 1rem;
}

.hr {
  margin: 0;
}

.change-password {
  margin-right: 1rem;
}

.login-change-password-form {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 30px;
  margin: 10% auto;
  min-width: 400px;
  max-width: 400px;
  background-color: #f9f9f9;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.btn-login {
  width: 100%;
}

.message {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.password-change-message {
  text-align: center;
  margin-top: 20px;
}
