* {
  box-sizing: border-box;
}

.btn-close {
  margin-left: 10px;
}

html, main, header, .hintergrund{
  background-color: rgb(228, 225, 225);
}

nav {
  margin: 0 1rem 0 1rem;
}

.hr {
  margin: 0;
}

.change-password {
  margin-right: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-change {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px); /* Adjust 60px to match your navbar height */
  padding: 20px 0; /* Add some padding top and bottom */
}

.login-change-password-form {
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  background-color: #f9f9f9;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto; /* Center the form horizontally */
}

.login-change-password-form h3 {
  margin: 20px 0 20px 0;
}

.form-group {
  margin-bottom: 20px;
}

.btn-login {
  width: 100%;
}

.message {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.password-change-message {
  text-align: center;
  margin-top: 20px;
}

.outside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-logfile {
  max-width: 500px;
}

.form-logfile label, .form-logfile .btn-primary {
  margin-top: 10px;
}

.logo {
  width: 180px;
}