.log-files-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.log-files-table th {
  background-color: #f2f2f2;
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.log-files-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.log-files-link {
  text-decoration: none;
  color: #007bff;
}

.log-files-link:hover {
  text-decoration: underline;
}

/* Styles for AddLogFile component */
.add-log-file-form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.add-log-file-form h3 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.response-message {
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}

.search-container {
  max-width: 50%;
  display: flex;
  margin-bottom: 5px;
}

.search-container input {
  max-width: 50%;
  margin-right: 10px;
}

.pattern-dropdown {
  padding: 5px;
}

.pattern-dropdown li {
  list-style-type: none;
  border: 1px solid #000;
  margin: 5px;
  padding: 5px;
}

.pattern-dropdown-item:hover {
  cursor: pointer;
  background-color: #000;
  color: #007bff;
}